@model  IEnumerable<CateringApp.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h1>Catering App</h1>
<hr />

<h3>Index</h3>

<p>@Html.ActionLink("Create", "InsertData",null ,new {@class = "btn btn-success"})</p>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(e => e.CategoryId)</th>
        <th>@Html.DisplayNameFor(e => e.CategoryName)</th>
        <th>@Html.DisplayNameFor(e => e.CategoryPhotoPath)</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(e => item.CategoryId)</td>
            <td>@Html.DisplayFor(e => item.CategoryName)</td>
            <td>@Html.DisplayFor(e => item.CategoryPhotoPath)</td>

            <td>@Html.ActionLink("Update", "UpdateData", new { id = item.CategoryId }, new { @class = "btn btn-primary"})|
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new {@class = "btn btn-danger"})</td>
        </tr>
    }

</table>
